# Backend
API_NAMESPACE="/api/v1/"

# DJANGO settings
DJANGO_ALLOWED_HOSTS="0.0.0.0"

# Postgres settings
POSTGRES_DB="boadgames"
POSTGRES_USER="your_user_name"
POSTGRES_PASSWORD="your_password"
POSTGRES_HOST="db"

# AWS
AWS_ACCESS_KEY_ID = "YOUR_AWS_ACCESS_KEY_ID"
AWS_SECRET_ACCESS_KEY = "YOUR_AWS_SECRET_ACCESS_KEY"
AWS_STORAGE_BUCKET_NAME = "YOUR_AWS_STORAGE_BUCKET_NAME"
AWS_S3_REGION_NAME = "YOUR_AWS_S3_REGION_NAME"
AWS_S3_CUSTOM_DOMAIN = "YOUR_AWS_S3_CUSTOM_DOMAIN"

AWS_S3_URL_PROTOCOL = "https"
AWS_S3_USE_SSL = True
AWS_S3_VERIFY = True